

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    }
    #fecha{
        border-color:2px solid  rgb(154, 95, 0);
        color:rgb(54,54,54);
        font-weight: bolder;
        background: linear-gradient(90deg, rgba(180,121,58,0.989233193277311) 0%, rgba(230,226,102,1) 50%, rgba(236,140,4,1) 100%);
        width: 100%;
        text-align: center;
    }
    
  




